<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Clientes</title>
</head>
<body>
    <h1>Lista de Clientes: </h1>
    <table border="solid">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Documento</th>
                <th>Tipo Documento</th>
                <th>Correo Electronico</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.idCliente}"></td>
                <td th:text="${cliente.nombreCliente}"></td>
                <td th:text="${cliente.apellidoCliente}"></td>
                <td th:text="${cliente.documentoCliente}"></td>
                <td th:text="${cliente.tipoDocCliente}"></td>
                <td th:text="${cliente.emailCliente}"></td>
                <td>
                	<a href="#">Actualizar</a>
                	<a href="#">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <a href="#">Crear Cliente</a>
</body>
</html>